/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Tailwind custom utility for flicker animation */
  .animate-flicker {
    animation: flicker 1.5s infinite ease-in-out; /* Flicker effect */
  }

body{
  background: #06141D;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #06141D; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}